.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: #552932;
    overflow: hidden;
}
#xxx {
    display: block;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background: #D3B185;
    overflow: hidden;
}
.tools {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 30px 40px;
    background-color: #A9815F;
    border-radius: 8px;
}
.tools svg {
    width: 2.5em;
    height: 2.5em;
    margin-right: 3em;
    transition: all .4s;
}
.tools svg.active{
    fill: #231815;
    transform: scale(1.4);
}
#s1 {
    position: absolute;
    top: 38px;
    left: 207px;
}
#s2 {
    position: absolute;
    top: 67px;
    left: 212px;
}






